* {
    margin: 0;
    padding: 0;
  }

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#223b00
}

#sticky{
    display: flex;
    position:sticky;
    top: 0;
    background-color: #adc267;
    padding-left: 50px;
    align-items: center;
    z-index: 2;
    height: 75px;
}

#titleTavil{
padding-left: 0 !important;
color: #dd4470;
}

#titleTrouv{
    padding-right: 0 !important;
    color: #5d854a;
}

form{
    background-color: #c6df76;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 5px 6px #bbbbbb;
}

.criteria-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

.criteria-list .criteria {
    padding: 10px;
    background-color: #93c47d;
    border-radius: 10px;
}

.criteria-list .criteria label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 10px 13px -7px #000000
}

.criteria-list .criteria select {
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 5px;
}

.criteria-list .criteria option {
    text-align: center;
}

.centered{
    text-align: center;
}

#geographic-searchbar{
    margin-top: 20px;
    background-color: white;
    width:fit-content;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -7px #000000

}

#geographic-searchbar > select{
    width: 1000px;
    border-radius: 10px;
    height: 30px;
    border: none;
}

#geographic-searchbar > button{
    width: 200px;
    background-color: #93c47d;
    border-radius: 10px 0px 0px 10px;
    height: 30px;
}

.research{
    background-color: wheat;
    width: 200px;
    border-radius: 10px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 13px -7px #000000
}

button{
    border: none;
    outline: none;
    border-radius: 10px;
}

input{
    border:none;
    outline: none;
}


.tooltip {
    margin-left: 10px;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    box-shadow: 0px 10px 13px -7px #000000
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: rgba(245, 222, 179, 0.866);
    color: #000000;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .resultat {
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;

}

.left {
    flex: 1;
    padding: 20px;
    margin: 20px;
    border-right: 1px solid #ccc;
    text-align: center;
    background-color: #93c47d;
    border-radius: 50px;
}

.right {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.left ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.left ul li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 70%;
    background-color: white;
    
}

li a {
    text-decoration: none;
    color: black;
}

h1{
    padding: 40px !important;
}

.slidecontainer{
    margin-top: 20px;
    display:flex
}
.slidecontainer>p:first-child{
width: 300px;
}

.slidecontainer>p{
    width: 100px;
    margin-left: 15px;
    margin-right: 15px;
    }

.slider {
    -webkit-appearance: none;
    width: 1000px;
    height: 15px;
    border-radius: 50px;  
    background: #ffffff;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    height: 15px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  .slider {
    position: relative;
}

.slider-track, .slider-range {
    height: 5px;
    background: #ffffff00;
}

.slider-range {
    background: #c6df76;
    position: absolute;
}

.slider-thumb {
    width: 20px;
    height: 20px;
    background: #5d854a;
    border-radius: 50%;
    position: absolute;
    top: -2.5px;
    cursor: pointer;
}

#info-pra
{
  /* display: flex; */
  padding: 0.625em 0.625em 0.625em 0.625em;
  background-color: #c6df76;
  color: #223b00;
  position: relative;
  background: #c6df76;
}

#info-pra a
{
  text-decoration: none;
  color: #223b00;
}

#info-pra a:hover
{
  color: #223b00;
}

#info-pra p
{
  font-weight: bold;
}

#info-pra h2
{
  text-transform: uppercase;
  font-size: 1.875em;
  text-align: center;
  width: 100%;
  margin-top: 0px;
}

#iut
{
  text-transform: uppercase;
  font-size: 1.875em;
  text-align: center;
  width: 100%;
  margin-top: 0px;
}

#info-pra h3
{
  margin-top: 0px;
  font-size: 1.25em;
  text-transform: uppercase;
}

#info-pra img
{
  height: 16px;
  align-self: center;
  margin-right: 0.3em;
}

#logotrouv img
{
  height: 160px;
  align-self: top;
  margin-top: -7em;
}

#logoiut img
{
  height: 160px;
  align-self: top;
  margin-top: -11em;
  margin-left:60em;
}


#copyright 
{
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  width: 100%;
  margin-top: 2em;
}

#info-pra-content
{
  display: flex;
  justify-content: space-around;
}

.info-pra-content-align
{
  display: flex;
}

#lieu
{
  padding: 1em;
}

#horaire
{
  padding: 1em;
}

#access
{
  padding: 1em;
}

#info-pra::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3.438em 6.25em 0em 6.25em;
  border-color: #c6df76 transparent transparent transparent;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
}


footer
{
  margin-top: 6em;
}

footer h2
{
  text-transform: uppercase;
  text-align: center;
  color:#434544;
}

#logos
{
  display: flex;
  justify-content: center;
}

#logos img
{
  padding: 0em 0.625em 0.625em 0.625em;
}

#logos a img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#logos a:hover img { /* effet zoom lors du survol de l'image */
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* * * * * * * * * * FOOTER + BAS DE PAGE * * * * * * * * * */