<!DOCTYPE html>
<html lang="fr">
<head>
    <link href="style.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trouv'tavil</title>
</head>
<body>
    <header>
        <form method="post">
            <div>
                <div style="display: flex;">
                    <h3>
                        Mes critères :
                    </h3>
                    <div class="tooltip">?
                        <span class="tooltiptext">Pour les classer, Indiquez en dessous de chaques critères un nombre de 1 à 5 correspondant à leur importance selon vous (1 étant le plus importante) </span>
                </div>
                </div>
                <div class="criteria-list">
                    <div class="criteria">
                        <input name="education" type="number" min="1" max="5" value="1" style="text-align: center;">
                        <div>
                            <label for="education">
                                Accès à l'école
                            </label>
                        </div>
                    </div>
                    <div class="criteria">
                        <input name="cost" type="number" min="1" max="5" value="2" style="text-align: center;">
                        <div>
                            <label for="cost">
                                Coût du logement
                            </label>
                        </div>
                    </div>                
                    <div class="criteria">
                        <input name="transport" type="number" min="1" max="5" value="3" style="text-align: center;">
                        <div>
                            <label for="transport">
                                Transports (gare)
                            </label>
                        </div>
                    </div>                
                    <div class="criteria">
                        <input name="size" type="number" min="1" max="5" value="4" style="text-align: center;">
                        <div>
                            <label for="size">
                                Grande ville
                            </label>
                        </div>
                    </div>                
                    <div class="criteria">
                        <input name="culture" type="number" min="1" max="5" value="5" style="text-align: center;">
                        <div>
                            <label for="culture">
                                Culture
                            </label>
                        </div>
                    </div>
                </div>
    <!--
                <input type="checkbox" name="hierarchy" />
                <label for="hierarchy">
                    Hiérarchiser mes critères
                </label>
    -->
                <div id="geographic-searchbar">
                    <button>
                        Zone géographique
                    </button>
                    <input type="text" placeholder="Search..">
                </div>

                <div div="centered">
                    <input type="submit" class="research" value="Recherche rapide">
                        
                </input>
                </div>

            </div>
        </form>
    </header>
    <main>
        <div class="resultat">
            <div class="left">
                <h1>Résultats</h1>
                <ul>
                    <li><a href="https://fr.wikipedia.org/wiki/Lyon" target="_blank">Lyon</a></li>
                    <li>Lyon</li>
                    <li>Lyon</li>
                    <li>Lyon</li>
                    <li>Lyon</li>
                    <li>Lyon</li>
                    <li>Lyon</li>
                    <li>Lyon</li>
                    <li>Lyon</li>
                    <li>Lyon</li>
                </ul>
            </div>
            <div class="right">
                Test
            </div>
        </div>
    </main>
</body>
</html>